<div class="container"> <h2>Cerința III.a: Listare și Sortare</h2>

  <div class="selector-wrapper"> <label>Alege Tabelul:</label>
    <select class="custom-select" [(ngModel)]="selectedTable" (ngModelChange)="onTableChange()">
      <option *ngFor="let t of tables" [value]="t">{{ t }}</option>
    </select>
  </div>

  <table class="styled-table" *ngIf="data.length > 0"> <thead>
      <tr>
        <th *ngFor="let col of columns" (click)="sort(col)">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns">{{ row[col] }}</td>
      </tr>
    </tbody>
  </table>
</div>